.burger {
	display: none;
	position: relative;

	width: 24px;
	height: 19px;
}

.burger i {
	position: absolute;

	display: block;
	width: 24px;
	height: 3px;

	background-color: var(--c-white);
	border-radius: 4px;
}

.burger i:nth-child(2) {
	top: 8px;
}

.burger i:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 15px;
}

@media screen and (max-width: 879px){
	.burger {
		display: block;
	}
}