:root {
	--b-padding: 15px;
	--b-fz: 16px;
	--b-lh: 22px;
}



.button-continue {
	border: none;
	background-color: transparent;
	color: var(--c-white);
	text-transform: uppercase;
	position: relative;
}

.button-continue:before {
	display: block;
	content: "";

	background-image: url(../img/scroll_down.svg);
	width: 22px;
	height: 10px;
	position: absolute;
	bottom: -20px;
	left: 35px;
}

.button {
	position: relative;
	display: inline-block;
	color: var(--c-black);
	background: var(--c-orange-gradient);
	padding: var(--b-padding);
	border-radius: 4px;

	font-size: var(--b-fz);
	line-height: var(--b-lh);
	font-weight: 700;
}

.button__price {
	margin-left: 25px;
	position: relative;
}

.button__price:before {
	position: absolute;
	display: block;
	content: "";

	top: -1px;
	left: -14px;

	height: 24px;
	width: 1px;
	background-color: var(--c-black);
}

.button.-feedbacks {
	margin-top: 50px;
}

.button--subscribes {
	padding: 17px 43px;
	margin-left: 15px;
}

@media screen and (max-width: 767px) {
	:root {
		--b-padding: 10px 7px;
		--b-fz: 14px;
		--b-lh: 19px;
	}

	.button__price {
		margin-left: 16px;
	}

	.button__price:before {
		left: -10px;
		height: 18px;
		top: 1px;
	}

	.button-continue {
		font-size: 12px;
	}

	.button.-feedbacks {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 930px) {
	.button.-feedbacks {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 1050px) {
	/*.button--subscribes {
		white-space: nowrap;
		display: flex;
		align-items: center;
	}*/

	.button--subscribes {
		margin-left: 0;
	}

