.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content.-hero {
	flex-direction: column;
	justify-content: initial;
}

.content__left.-testimonials {
	max-width: 390px;
}

@media screen and (max-width: 930px) {
	.content {
		flex-direction: column;
	}
}