.container {
	width: 1000px;
	margin: 0 auto;
}

.container.-header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container.-hero {
	margin-top: -125px;
	text-align: center;
}

.container.-requirements-header {
	text-align: center;
	margin-top: 120px;
}

.container.container--about {
	display: flex;
	max-width: 1200px;
	z-index: 1;
	padding: 20px;
}

.container.container--features {
	display: flex;
	justify-content: flex-end;
	margin-top: 167px;
	margin-right: 300px;
	padding: 20px;
}

.container.container--subscribes {
	display: flex;
	max-width: 1115px;
	padding: 10px;
}

.container.container--footer {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-self: center;
	position: relative;
}

.container--footer::after{
	display: block;
	content: "";

	position: absolute;
	background-color: var(--c-gray-dark);
	left: 0;
	right: 0;
	height: 1px;
	bottom: -35px;

}

@media screen and (max-width: 1040px){
	.container {
		width: 880px;
	}

}

@media screen and (max-width: 879px){
	.container {
		width: 740px;
	}

	.container.container--features {
		margin-right: 100px;
	}
}

@media screen and (max-width: 767px){
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.container.-header {
		height: 52px;
	}

	.container.-hero h4 {
		max-width: 250px;
	}

	.container.container--features {
		margin-right: 0px;
	}
}

@media screen and (max-width: 920px) {

	.container.container--about {
		flex-direction: column;
	}
}

