.container {
	width: 1000px;
	margin: 0 auto;
}

.container.-header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container.-hero {
	margin-top: -125px;
	text-align: center;
}

.container.-requirements-header {
	text-align: center;
	margin-top: 120px;
}

.container.container--about {
	display: flex;
	width: 1200px;
	z-index: 1;
	padding: 20px;
}

@media screen and (max-width: 1039px){
	.container {
		width: 880px;
	}
}

@media screen and (max-width: 879px){
	.container {
		width: 740px;
	}
}

@media screen and (max-width: 767px){
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.container.-header {
		height: 52px;
	}

	.container.-hero h4 {
		max-width: 250px;
	}
}

@media screen and (max-width: 920px) {

	.container.container--about {
		flex-direction: column;
	}
}