.feedbacks__left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 390px;
	position: absolute;
	left: 120px;
	bottom: 270px;
}

.feedbacks__right {
	display: flex;
	flex-direction: column;
	width: 500px;
	right: 80px;
	bottom: 150px;
	position: absolute;
}

.feedbacks__right img {
	margin-bottom: 20px;
}

.feedbacks__right img:last-child {
	margin-bottom: 0px;
}