.feedbacks__left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 390px;

}

.feedbacks__right {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin-right: 80px;
	
}

.feedbacks__right img {
	margin-bottom: 20px;
}

.feedbacks__right img:last-child {
	margin-bottom: 0px;
}

@media screen and (max-width: 720px) {

}