.footer__media {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

.footer__title {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.footer__title--cg {
	color: var(--c-gray-dark);
}

.footer__logo {
	width: 90px;
}