.header {
	width: 100%;
}

.header__right {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.header__menu:before {
	display: block;
	content: "";

	position: absolute;
	width: 1px;
	background-color: var(--c-white);
	height: 30px;
	right: -31px;
	top: -5px;

}

.header__menu {
	position: relative;
	margin-right: 62px;
	font-weight: 700;
	font-size: 12px;
}

@media screen and (max-width: 1040px){
	.header__menu {
		margin-right: 42px;
	}

	.header__menu:before {
		right: -21px;
	}
}

@media screen and (max-width: 879px){
	.header__icons {
		display: none;
	}
}

@media screen and (max-width: 767px){
	.header__logo {
		width: 32px;
	}

	.header__menu {
		font-size: 12px;
	}
}