.nav {
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav__link {
	color: var(--c-white);
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 40px;
	font-weight: 700;
}

.nav__link:last-child {
	margin-right: 0;
}

@media screen and (max-width: 1040px){
	.nav__link {
		margin-right: 20px;
	}
}

@media screen and (max-width: 879px){
	.nav {
		display: none;
	}
}