section {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}

section.-hero {
	background-image: url(../img/hero_bg.jpg);
	flex-direction: column;
	justify-content: space-between;
}

.section--about {
	background-image: url(../img/about_bg.png);
	position: relative;
}

.section--about__overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.85);
}

.section--features {
	background-image: url(../img/features_bg.jpg);
}

@media screen and (max-width: 767px) {
	section.-hero {
		min-height: 620px;
	}
}

@media screen and (max-width: 767px) {
	section.section-about {
		flex-direction: column;
	}
}

section.-requirements {
	background-image: url(../img/requirements_bg.jpg);
	display: flex;
	flex-direction: column;
	position: relative;
}

section.-testimonials {
	background-color: var(--c-black);
	display: flex;
	justify-content: space-between;
	background-image: url(../img/testimonials_bg.png);
}

