.subscribes__image img {
	height: 694px;

}

.subscribes__image {
	flex-shrink: 0;
	margin-top: 50px;
}

.subscribes__right {
	width: 700px;
	margin-left: 50px;
	margin-top: 220px;
	
}

.subscribes__right h2 {
	font-size: 80px;
}

.subscribes__right p {
	font-size: 18px;
}

.subscribes__auth{
	display: flex;
}

.subscribes__email{
	width: 267px;
	height: 60px;
	background-color: var(--c-black);
	padding: 5px 20px;
	border-radius: 3px;
}

.subscribes__title {
	font-size: 14px;
	color: var(--c-gray-dark);
}

.subscribes__subtitle {
	background-color: transparent;
	color: var(--c-orange);
}

@media screen and (max-width: 1050px) {

	.subscribes__email {
		max-width: 290px;
		/*display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;*/
		margin-bottom: 20px;
	}

	.subscribes__auth {
		flex-direction: column;
		width: 267px;
	}

}

@media screen and (max-width: 1050px) {
	.subscribes__image img {
		height: 450px;
	}

	.subscribes__right h2 {
		font-size: 60px;

	}
	.subscribes__right {
		margin-top: 100px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 580px) {
	.subscribes__email {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 200px;
	}

	.subscribes__right h2 {
		font-size: 40px;
	}

	.subscribes__image img {
		display: none;
	}

	.subscribes__right p {
		font-size: 14px;
	}

	.subscribes__right {
		width: 350px;
		margin-left: 0;
	}
}
