.subscribes__image img {
	height: 694px;

}

.subscribes__image {
	flex-shrink: 0;
	margin-top: 50px;
}

.subscribes__right {
	width: 700px;
	margin-left: 50px;
	margin-top: 220px;
	flex-shrink: 0;
}

.subscribes__right h2 {
	font-size: 80px;
}

.subscribes__right p {
	font-size: 18px;
}

.subscribes__auth{
	display: flex;
}

.subscribes__email{
	width: 273px;
	height: 60px;
	background-color: var(--c-black);
	padding: 5px 20px;
	border-radius: 3px;
}

.subscribes__title {
	font-size: 14px;
	color: var(--c-gray-dark);
}

.subscribes__subtitle {
	background-color: transparent;
	color: var(--c-orange);
}