.table__title {
	color: var(--c-orange);
}

.table p {
	font-size: 18px;
}


.table__row{
	display: flex;
}

.table__cell{
	flex-basis: 50%;
	flex-grow: 1;
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.table__cell:not(:first-of-type) {
	border-left: 0;
}

.table__row:not(:first-of-type) .table__cell {
	border-top: 0;
}